body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Open Sans";
    position: relative;
    top: -16px;
}

.table-container {
    position: relative;
    width: 745px;
    height: 800px;
    z-index: 0;
    background-color: #ffffff
}

.table-container-wrap {
    width: 745px;
    height: 800px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    margin: auto;
}

.date {
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 12px;
    margin: auto;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    position: relative;
    top: -20px;
    z-index: 2;
}

td {
    box-sizing: border-box;
    overflow: hidden !important;
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 102px;
    height: 102px;
}

#date {
    color: red;
}

td.crossed {
    background:
        linear-gradient(to top left,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) calc(50% - 3px),
        red 50%,
        rgba(0,0,0,0) calc(50% + 3px),
        rgba(0,0,0,0) 100%);
}

.context-container {
    position: absolute;
    width: 303px;
    height: 800px;
}

.textbox {
    position: relative;
    top: 55px;
    left: 20px;
    resize: none;
    z-index: 1;
    max-width: 303px;
    max-height: 726px;
}

.button {
    position: absolute;
    top: 25px;
    left: 20px; 
    z-index: 1;
}

.button2 {
    position: absolute;
    top: 25px;
    left: 256px; 
    z-index: 1;
}

.button3 {
    position: absolute;
    top: 25px;
    left: 122px; 
    z-index: 1;
}

.style {
    position: absolute;
    z-index: 2;
    top: 790px;
    left: 20px;
}